In [1]:
# YOU MUST USE 3.6.0 AND ABOVE FOR RUNNING GLMNET
library(data.table)
library("rvest")

#library(zoo)
library("dplyr")

Warning message:
“package ‘rvest’ was built under R version 3.6.1”Loading required package: xml2
Warning message:
“package ‘xml2’ was built under R version 3.6.1”
Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, first, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:


start_time <- Sys.time()
new_data=fread("/u/home/m/michaelm/project-halperin/lab/R/new_clean_data.csv")

end_time <- Sys.time()

end_time - start_time

Time difference of 16.28063 secs

In [3]:
dim(new_data)

[1] 478174    640

In [4]:
#install.packages("scales")
#install.packages("rlang")
#install.packages("tidyverse")
library(tidyverse)
library(caret)
library(glmnet)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ stringr 1.4.0
✔ tidyr   1.0.0     ✔ forcats 0.4.0
✔ readr   1.3.1
Warning message:
“package ‘tibble’ was built under R version 3.6.1”Warning message:
“package ‘stringr’ was built under R version 3.6.1”── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::between()        masks data.table::between()
✖ dplyr::filter()         masks stats::filter()
✖ dplyr::first()          masks data.table::first()
✖ readr::guess_encoding() masks rvest::guess_encoding()
✖ dplyr::lag()            masks stats::lag()
✖ dplyr::last()           masks data.table::last()
✖ purrr::pluck()          masks rvest::pluck()
✖ purrr::transpose()      masks data.table::transpose()
Loading required package: lattice

Attaching package: ‘caret’

The following object is masked from ‘package:purrr’:

    lift

Loading required package: Matrix

Attaching package: ‘Matrix’

The following objects are masked from ‘package:tidyr’:

    expand, pack, unpack

Loaded glmnet 3.0-2

In [9]:
new_addup_data = fread("/u/project/sriram/ukbiobank/33127/ukb21970.csv")

In [10]:
start_time <- Sys.time()
new_addup_data = fread("/u/project/sriram/ukbiobank/33127/ukb21970.csv")

end_time <- Sys.time()

end_time - start_time

Time difference of 12.00299 secs

In [11]:
dim(new_addup_data )

[1] 502616   1672

In [16]:
grep("22009-0.1",colnames(new_addup_data))

 [1] 1267 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285

In [14]:
grep("22009-0.40",colnames(new_addup_data))

[1] 1306

In [19]:
new_addup_data[1:3,1267]
new_addup_data[1:3,1276]
new_addup_data[1:3,1277]

  22009-0.1
1 -12.16240
2  -9.94105
3 -14.61760

  22009-0.10
1 -0.261331
2  5.399110
3  0.546660

  22009-0.11
1 3.86717
2 5.37685
3 2.80388

In [23]:
new_addup_data[1:3,1306]

  22009-0.40
1 -0.981541
2  1.005220
3 -3.135760

In [39]:
sample_addup=new_addup_data[,c(1,1267,1276:1306)]
dim(sample_addup)

[1] 502616     33

In [27]:
getwd()

[1] "/u/project/halperin/michaelm/lab/R"

In [40]:
fwrite(sample_addup,"ukb21970_select_.csv")

In [42]:
new_data2=merge(x=new_data,y=sample_addup,by = "eid",all.x = T)

In [43]:
fwrite(new_data2,"new_clean_data2.csv")