In [1]:
library(data.table)
library("rvest")
library("stringr")
library(dplyr)
library(zoo)

Loading required package: xml2

Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, first, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [3]:


start_time <- Sys.time()
new_data=fread("new_data_num.csv")

end_time <- Sys.time()

end_time - start_time

Time difference of 16.7855 secs

In [5]:
dim(new_data)

[1] 502508    608

In [12]:
new_addup_data = fread("ukb21970_select_.csv")
dim(new_addup_data)

[1] 502616     33

In [17]:
add_list=as.integer(which(colSums(is.na(new_addup_data))>=0.5*502616))

In [18]:
add_list

integer(0)

In [19]:
colSums(is.na(new_addup_data))

       eid  22009-0.1 22009-0.10 22009-0.11 22009-0.12 22009-0.13 22009-0.14
         0      14253      14253      14253      14253      14253      14253
22009-0.15 22009-0.16 22009-0.17 22009-0.18 22009-0.19 22009-0.20 22009-0.21
     14253      14253      14253      14253      14253      14253      14253
22009-0.22 22009-0.23 22009-0.24 22009-0.25 22009-0.26 22009-0.27 22009-0.28
     14253      14253      14253      14253      14253      14253      14253
22009-0.29 22009-0.30 22009-0.31 22009-0.32 22009-0.33 22009-0.34 22009-0.35
     14253      14253      14253      14253      14253      14253      14253
22009-0.36 22009-0.37 22009-0.38 22009-0.39 22009-0.40
     14253      14253      14253      14253      14253

In [10]:
new_raw_data2=merge(x=new_data,y=new_addup_data,by = "eid",all.x = T)
fwrite(new_raw_data2,"new_raw_data2.csv")

In [3]:
new_raw_data2= fread("new_raw_data2.csv")

In [4]:
dim(new_raw_data2)

[1] 502508    640

In [9]:
new_data=new_raw_data2[-which(is.na(new_raw_data2$count)),]

In [20]:
dim(new_data)

[1] 478174    640

In [21]:
new_data_1=zoo::na.aggregate(new_data[,1:200])
new_data_2=zoo::na.aggregate(new_data[,201:400])
new_data_3=zoo::na.aggregate(new_data[,401:600])
new_data_4=zoo::na.aggregate(new_data[,601:640])

In [4]:
#new_data_1=zoo::na.aggregate(new_data[,1:200])

In [5]:
#new_data_2=zoo::na.aggregate(new_data[,201:400])

In [6]:
#new_data_3=zoo::na.aggregate(new_data[,401:600])

In [7]:
#new_data_4=zoo::na.aggregate(new_data[,601:800])

In [8]:
#new_data_5=zoo::na.aggregate(new_data[,801:1000])

In [9]:
#new_data_6=zoo::na.aggregate(new_data[,1001:1100])

In [10]:
#new_data_7=zoo::na.aggregate(new_data[,1101:1151])

In [22]:
dim(new_data_1)
dim(new_data_2)
dim(new_data_3)
dim(new_data_4)
#dim(new_data_5)
#dim(new_data_6)
#dim(new_data_7)
#dim(new_data_2)

[1] 478174    200

[1] 478174    200

[1] 478174    200

[1] 478174     40

In [23]:
#new_data=cbind(new_data_1,new_data_2,new_data_3,new_data_4,new_data_5,new_data_6,new_data_7)

In [24]:
new_data=cbind(new_data_1,new_data_2,new_data_3,new_data_4)

In [25]:
dim(new_data)

[1] 478174    640

In [26]:
grep("count",colnames(new_data))

[1] 608

In [27]:
fwrite(new_data,"new_clean_data_slim.csv")