In [27]:
library(rvest)

webpage <- read_html("http://localhost:9254/view/project-halperin/lab/R/ukb21970.html")

tbls <- html_nodes(webpage,"body")

In [28]:
tbls

{xml_nodeset (1)}
[1] <body class="" dir="ltr">\n\n<noscript>\n    <div id="noscript">\n      J ...

[1] 40  3

In [14]:
tables$`NULL`

  V1            V2             V3
1 First colours Second colours Third colours