In [2]:
library(data.table)
library("rvest")
library("stringr")
library(dplyr)

Loading required package: xml2

Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, first, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:

start_tim e <- Sys.time()
source("/u/project/sriram/ukbiobank/33127/bd_load_data.R")
end_time <- Sys.time()

end_time - start_time

Time difference of 41.43343 secs

In [4]:
dim(data)

[1] 502508   2297

In [5]:
na_list=read.csv("na_list.csv")

In [6]:
dim(na_list)

[1] 1464    2

Warning message:
“'memory.size()' is Windows-specific”

[1] Inf

In [7]:
na_list=as.vector(na_list[,2])

In [7]:
#new_data=data[,1:40]
#new_na_list=na_list[1:6]
#new_na_list
#new_new=select(new_data,-c(new_na_list))
#dim(new_new)

In [8]:
new_new=select(data,-c(na_list))

In [9]:
dim(new_new)

[1] 502508    833

In [11]:
grep("30000-0.0",colnames(new_new))  #405

[1] 405

In [12]:
fwrite(new_new,"new_data.csv")

In [ ]:
## numeric selection

In [12]:
new_new_numeric=new_new %>% select_if(is.numeric)
new_num=new_new_numeric

In [13]:
dim(new_num)

[1] 502508    608

In [14]:
grep("30000-0.0",colnames(new_num))

[1] 348

In [22]:
library(dplyr)

#new_num[,348]

       30000-0.0
1      6.60
2        NA
3      8.44
4      7.40
5      6.19
6      6.40
7      8.23
8      4.81
9      7.71
10     8.75
11     5.81
12     5.80
13       NA
14     5.98
15     4.58
16     7.52
17     4.72
18     9.23
19     5.70
20     7.40
21     6.82
22     7.40
23     6.83
24     6.30
25     5.03
26     5.90
27     6.81
28     9.80
29       NA
30     4.24
⋮      ⋮
502479  5.57
502480  7.97
502481  5.42
502482  4.57
502483  7.58
502484  7.42
502485    NA
502486  7.42
502487  6.79
502488  7.67
502489  8.66
502490  7.40
502491 10.57
502492  5.99
502493  6.55
502494  5.15
502495  8.50
502496  6.27
502497  6.40
502498  6.27
502499  6.23
502500  8.19
502501  6.78
502502  7.96
502503  7.56
502504  7.05
502505  4.95
502506  5.30
502507  5.78
502508  4.02

In [15]:
dim(new_num)

[1] 502508    608

In [16]:
new_num$`30000-0.0`[1:20]

 [1] 6.60   NA 8.44 7.40 6.19 6.40 8.23 4.81 7.71 8.75 5.81 5.80   NA 5.98 4.58
[16] 7.52 4.72 9.23 5.70 7.40

In [18]:
new_num$count=new_num$`30000-0.0`

In [19]:

dim(new_num)
new=new_num[,-348]
dim(new)

[1] 502508    609

[1] 502508    608

In [20]:
new_data=new

In [22]:
new_data[,608] %>% head(3)

  count
1 6.60
2   NA
3 8.44

In [77]:
set.seed(12)
new_sample=new_data[sample(1:nrow(new_data),5000),]

In [78]:
dim(new_sample)

[1] 5000 1151

In [23]:
fwrite(new_data,"new_data_num.csv")

In [ ]:
ns=fread(new_data,"new_data_num.csv")